{% extends "base.html" %}

{% block head %}
    <title>Ticker Lookup App</title>
{% endblock %}

{% block content %}
    <p>Welcome to the Ticker Lookup App!  <br>
       You should input a stock symbol, and select one or more
       of the check boxes given to display the stock prices for
       the last month. <br>
    </p>
      
    <form action="plot" method="POST">
    <p><label for="ticker">Ticker symbol:</label>
       <input type="text" id="ticker" name="ticker"/> <br>
       <input type="checkbox" id="Open" name="Open" value="Open"/>
       <label for="Open">Opening price</label> <br>
       <input type="checkbox" id="Close" name="Close" value="Close"/>
       <label for="Close">Closing price</label> <br>
       <input type="checkbox" id="Adjusted_closing" name="Adjusted_closing" value="Adjusted_closing"/>
       <label for="Adjusted_closing">Adjusted closing price</label> <br>
       <input type="checkbox" id="High" name="High" value="High"/>
       <label for="High">High</label> <br>
       <input type="checkbox" id="Low" name="Low" value="Low"/>
       <label for="Low">Low</label> <br><br>
       <input type="reset"/> <input type="submit"/>
    </p>
    </form>

{% endblock %}