{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Hello World!</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="http://flask.pocoo.org/">Flask</a> (one of the main Python libraries for writing web applications)</li>
            <li><a href="http://jinja.pocoo.org/">Jinja2</a> (a templating engine)</li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a> (a front end toolkit to help easily design your website)</li>
            <li><a href="http://jquery.com/">jQuery</a> (if you're going to use JavaScript on a website, you probably want to use jQuery)</li>
            <li><a href="https://www.render.com/">Render.com</a> (a site we recommend for free (and paid) web hosting services)</li>
            <li><a href="https://www.elephantsql.com/">ElephantSQL</a> (a site we recommend for free (and paid) SQL hosting services)</li>
          </ul>
        </div>
      </div>

{% endblock %}